body{
	color: black;
	background-image: url("");
	border-color: #dddddd;
	background-color: #87CEEB;
	font-size: 18px;
	line-height: 34px;
	font-family: 'Papyrus', 'Helvetica Neue', Helvetica, sans-serif;
}
.mainHeader{
	columns: 
}
.enderman {
	max-width: 100px;
	max-height: 150px;
	float: right;
	display: inline;
}

#container{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;	
}